p{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 30px;
}

#one{
    background: #247BA0;
}

#two{
    background: #70C1B3;
}

#three{
    background: #B2DBBF;
}

#four{
    background: #F3FFBD;
}

#five{
    background: #FF1654;
}

td{
    height: 300px;
    width: 150px;
    border: 6px solid white;
}

table{
    margin: auto;
}